@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
@import url("css/components/container.css");
@import url("css/components/avatar.css");
@import url("css/components/button.css");
@import url("css/components/banner.css");
@import url("css/components/card.css");


body{
	font-family:  'Lora', serif;
	font-size:  18px;
}

h1, h2, h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: 20px;
}

a{
	text-decoration: none;
}

